<!DOCTYPE html>
<html>
<head>
	<title>Twitter</title>
	<style>
		textarea {
			resize: none;
		}
		span {
			font-size: 200%;
		}
	</style>
</head>
<body>
	<header>
		<div>
			<span>Welcome to Twitter!</span>
			<img src="/img/tweet.png" alt="tweet" width="50" height="50"> 
		</div>
		
		<% if (userName){ %>
			<div id="userName" data-username="<%= userName %>">
				<a href="/logout">Sign out</a>
			</div>
			<br />
		<% } else { %>
			<div>
				<a href="/signup">Sign Up </a>  &nbsp;
				<a href="/login">Login</a> 
			</div>
		<% } %>
	</header>

	<main>
		<% if (message){ %>
			<div><%= message %></div>
		<% } %>

		<% if (profile){ %>

			<div>
				<p><%= userName %></p>
				<p><%= profile.name %></p>
				<p><%= profile.bio %></p> 
				<div id="tweets">Tweets: <%= profile.numTweets %> </div>
				<div id="following">Following: <%= profile.numFollowing %> </div>
				<div id="followers">Followers: <%= profile.numFollowers %> </div>
			</div>

			<br />

			<% include ./partials/new_tweet %>


			<div class="tweet-list" data-username="<%= userName %>"></div>
		
		<% } %>
		
	</main>
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/client.index.js"></script>
</body>
</html>