<!DOCTYPE html>
<html>
<head>
	<title>Twitter</title>
	<style>
		textarea {
			resize: none;
		}
		.following-list{
			display: none;
		}

		.followers-list{
			display: none;
		}

		.active{
			color: blue;
		}
	</style>
</head>
<body>
	<header>
		<div>
			<span>Welcome to Twitter!</span>
			<img src="/img/tweet.png" alt="tweet" width="50" height="50"> 
		</div>
		
		<% if (userName){ %>
			<div id="user-name" data-username="<%= userName %>">
				<a href="/edit_profile">Edit Profile</a> &nbsp;
				<a href="/logout">Sign out</a>
			</div>
			<br />
		<% } else { %>
			<div>
				<a href="/signup">Sign Up </a>  &nbsp;
				<a href="/login">Login</a> 
			</div>
		<% } %>
	</header>

	<main>
		<% if (message){ %>
			<div><%= message %></div>
		<% } %>

		<% if (profile){ %>

			<div class="user-profile">
				<p><a href="/users/<%= userName %>"><%= userName %></a></p>
				<p><%= profile.name %></p>
				<p><%= profile.bio %></p> 
				<button id="tweets" class="active">Tweets: <span id="tweets_count"><%= profile.numTweets %></span></button>
				<button id="following">Following: <span id="following_count"><%= profile.numFollowing %></span></button>
				<button id="followers">Followers: <span id="followers_count"><%= profile.numFollowers %></span></button>

			</div>

			<br />

			<div><a href="/whotofollow">Who to follow</a></div>

			<br />

			<% include ./partials/new_tweet %>

			<br />

			<div class="panel">
				<div class="tweet-list"></div>
				<div class="following-list"></div>
				<div class="followers-list"></div>
			</div>
		
		<% } %>
		
	</main>
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/client.index.js"></script>
</body>
</html>